
body{
    background: #bdbdbd;
    margin: 0;
}

header{
    text-align: center;
    background: white;
    padding: 10px;
    margin: 0;
}
div{
    box-sizing: border-box;
}

.first-post{
    background: white;
    margin-top: 10px;
}
.container{
    width: 600px;
    margin: auto;
    margin-bottom: 10px ;
    margin-top: 10px;
}
.first-post img{
    width: 100%;
}
.first-post h2{
    padding: 18px;
    margin: 0;
    font-size: 15px;
}
span{
    padding: 10px;
    float: center;
    color: gray;
    font-size: 15px;
}

.first-post .first-post-header :first-child{
    display: inline-block;
    width: 80%;
}
.first-post .first-post-header :last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
}
.info{
    padding: 10px;
}
